.navbar{
    display: flex;
    background-color: aqua;
    height: 60px;
    border: 5px solid coral;
    border-radius: 20px;
}
.navbar-logo{
    display: flex;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 20px;
}
.navbar-logo:hover{
    background-color: coral;
    color: white;
    cursor: pointer;
    border: 1px solid coral;
    border-radius: 10%;
}
.title{
    display:flex;
    margin-left: 20px;
    color: rebeccapurple;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
@media (prefers-reduced-motion: no-preferences) {
    .navbar-logo{
        animation: navbar-logo-spin infinite 20s linear;
    }
}

@keyframes navbar-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  